h2 {
    font-size: 20px;
    font-weight: bold;
}

.myfooter {
    background-color: #3366cc;
    padding: 3rem 1.5rem 2.8rem;
    color: white;
}

body, div {
    text-shadow: none !important;
}