/* Body */
body, div {
    text-shadow: none !important;
    text-align: left;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

h1 {
    font-size: 30px;
    text-align: center;
}
  
h2 {
    font-size: 20px !important;
    font-weight: bold;
    text-align: center;
}

.title-p {
    text-align: left;
}

section p {
    font-size: 16px;
    text-align: justify;
}


/* Images */

img {
    display: block;
    margin-left: auto;
    border-radius: 30px;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

figcaption {
    text-align: center;
    font-weight: bold;
}


/* Table */

.center {
    margin-left: auto;
    margin-right: auto;
}

table {
    background-color: #007578;
    color: white;
    border-radius: 25px;
    text-align: center;
}

table tr td {
    padding: 10px;
}

table tr th {
    padding-left: 8px;
    color: white !important;
}


/* Footer */

footer p {
    text-align: center;
    font-size: 18px;
}

.myfooter {
    background-color: #363636;
    padding: 3rem 1.5rem 2.8rem;
    color: white;
}